# Primary Database (para escritas)
PRIMARY_DB_HOST=localhost
PRIMARY_DB_USER=root
PRIMARY_DB_PASSWORD=root123
PRIMARY_DB_NAME=aula-db
PRIMARY_DB_PORT=3306

# Replica Database (para leituras)
REPLICA_DB_HOST=localhost
REPLICA_DB_USER=root
REPLICA_DB_PASSWORD=root123
REPLICA_DB_NAME=aula-db
REPLICA_DB_PORT=3307 # Se estiver usando a mesma máquina e MySQL, use uma porta diferente, OU use a mesma porta se não houver replica física e você só quer simular a separação lógica

# Nome do grupo
CRIADO_POR=GrupoB

## Docker Configuration

# MySQL Configuration
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=aula-db

# Replication Configuration
REPLICATION_USER=repl
REPLICATION_PASSWORD=repl123
MYSQL_REPLICATION_USER=repl
MYSQL_REPLICATION_PASSWORD=repl123

MYSQL_PRIMARY_HOST=172.25.0.10
MYSQL_REPLICA_HOST=172.25.0.11

# Server Configuration
SERVER_PORT=3000